@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  --nav-link-color: #fff;
  --primary-color: rgb(166, 0, 0);
  --nav-links-font-family: "Oswald", sans-serif;
  --text-font-family: "acumin-pro-semi-condensed", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
  border: none;
}

a {
  color: black;
}

button:focus,
a:focus {
  outline: none;
}

.ptsa-website {
  min-height: 100vh;
}

.home,
.job-shadow,
.about-us,
.cancel,
.thanks {
  padding: 40px;
  font-family: var(--text-font-family);
  padding-bottom: 16px;
  line-height: 22px;
}

.cancel h1,
.thanks h1 {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 11px;
  margin-top: 100px;
  margin-bottom: 10px;
  font-family: var(--text-font-family);
}

@media (min-width: 1300px) {
  .secondary-nav,
  .primary-nav,
  .home,
  .job-shadow,
  .about-us,
  .cancel,
  .thanks {
    width: 1300px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .home,
  .job-shadow,
  .about-us,
  .cancel,
  .thanks {
    padding: 40px 5px;
    padding-bottom: 16px;
  }
}
