.primary-nav,
.secondary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-nav {
  height: 100px;
  padding: 10px 40px;
}

.primary-nav-img {
  height: 100%;
}

.secondary-nav-container {
  background: var(--primary-color);
}

.secondary-nav,
.secondary-nav-stacked {
  padding: 15px 40px;
}

.secondary-nav a,
.secondary-nav-stacked a {
  color: var(--nav-link-color);
  text-decoration: none;
  font-family: var(--text-font-family);
}

.secondary-nav-links,
.secondary-nav-socialmedia-links,
.drop-down-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.secondary-nav-links li {
  font-size: 18px;
}

.secondary-nav-socialmedia-links li {
  font-size: 12px;
}

.nav-divider {
  border: 0.5px solid var(--nav-link-color);
  height: 20px;
  margin: 0 10px;
}

.nav-divider-small {
  border: 0.1px solid var(--nav-link-color);
  height: 15px;
  margin: 0 5px;
}

.secondary-nav-stacked {
  background: var(--primary-color);
  display: flex;
  justify-content: right;
  position: relative;
}

.secondary-nav-stacked button {
  background: transparent;
  color: var(--nav-link-color);
}

.drop-down-links {
  display: block;
  background: rgba(166, 0, 0, 0.9);
  transition: 0.5s ease;
  padding: 20px 20px;
  text-align: left;
  position: absolute;
  top: 100%;
  width: 100vw;
}

.drop-down-links li {
  font-size: 20px;
  margin: 5px;
}

.drop-down-links hr {
  margin: 10px;
  width: 100%;
}

.nav-social-media {
  display: flex;
}

.nav-social-media a {
  margin-right: 10px;
  font-size: 34px;
}

@media (max-width: 500px) {
  .primary-nav-img {
    height: 50%;
  }
}
