.primary-nav,
.secondary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-nav {
  height: 100px;
  padding: 10px 40px;
}

.primary-nav-img {
  height: 100%;
}

.secondary-nav-container {
  background: rgb(166, 0, 0);
}

.secondary-nav,
.secondary-nav-stacked {
  padding: 15px 40px;
}

.secondary-nav a,
.secondary-nav-stacked a {
  color: var(--nav-link-color);
  text-decoration: none;
  font-family: var(--text-font-family);
}

.secondary-nav-links,
.secondary-nav-socialmedia-links,
.drop-down-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.secondary-nav-links li {
  font-size: 18px;
}

.secondary-nav-socialmedia-links li {
  font-size: 12px;
}

.nav-divider {
  border: 0.5px solid var(--nav-link-color);
  height: 20px;
  margin: 0 10px;
}

.nav-divider-small {
  border: 0.1px solid var(--nav-link-color);
  height: 15px;
  margin: 0 5px;
}

.secondary-nav-stacked {
  background: rgb(166, 0, 0);
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.secondary-nav-stacked button {
  background: transparent;
  color: var(--nav-link-color);
}

.secondary-nav-stacked svg {
}

.drop-down-links {
  background: rgba(166, 0, 0, 0.7);
  transition: 0.5s ease;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  text-align: center;
  position: fixed;
  width: 100%;
}
